.grayTxt {
  color: grey;
}

.redTxt {
  color: red;
}

.greenTxt {
  color: var(--primary-green-color);
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-collapse: separate;
  border-spacing: 0 2px;
  text-align: center;
  table-layout: fixed;

  td {
    padding: 10px 0;
  }

  tbody > tr:hover {
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    transition: 500ms;
  }
}

.container {
  width: 85%;
}

.asset {
  display: flex;
  align-items: center;

  &_coinImg {
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }
}


tr:nth-child(2n) {
  background-color: var(--gray-bg-color);
  padding: 7px 0;
}

.buyBtn {
  width: 70px;
  height: 30px;
  background-color: var(--primary-green-color);
  color: whitesmoke;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: var(--secondary-green-color);
    cursor: pointer;
  }
}