* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

:root {
  --primary-bg-color: #298ffe;
  --secondary-bg-color: rgba(41, 143, 254, 0.4);
  --primary-text-color: #1d1d1d;
  --gray-bg-color: rgba(200, 205, 210, 0.4);
  --primary-green-color: #00c45d;
  --secondary-green-color: #005829;
  --orange-color: rgb(255,95,0);
}